name: Docker Build - Testnet
on:
  workflow_dispatch:
  push:
    branches:
      - testnet
    paths:
      - 'src/**'
      - 'include/**'
      - 'cfg/**'
      - 'cmake/**'
      - 'external/**'
      - 'Builds/**'
      - 'CMakeLists.txt'
      - 'conanfile.py'
      - 'Dockerfile'
      - 'scripts/docker-entrypoint.sh'
      - 'scripts/logrotate-postfiatd.conf'
jobs:
  build-testnet:
    uses: ./.github/workflows/build.yml
    with:
      network: testnet
      source_ref: testnet
    secrets: inherit
